.title {
  color: var(--text-accent);
  font-size: 1.71em;
  font-weight: 700;
  margin: 0.625em auto;
  letter-spacing: var(--letter-spacing);
  transition: color var(--themeTransitionDuration);
}
.text {
  color: var(--text-body);
  letter-spacing: var(--letter-spacing);
  line-height: 1.57em;
  font-size: 1.2857em;
  font-weight: 400;
  margin: 0.8333em auto;
  transition: color var(--themeTransitionDuration);
}
.card {
  text-align: center;
  padding: 3.82em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: (0px 2px 5px var(--ui-decoration));
  transition: box-shadow var(--themeTransitionDuration);
  min-width: 280px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 50px;
}
.cardHeader {
  width: 250px;
  margin: 0 auto 40px;
}
.cardDescription {
  width: 250px;
  margin-bottom: 40px;
}
.cardTools {
  width: 250px;
}

@media only screen and(min-width: 1024px) {
  .card {
    margin: 0;
    max-width: 450px;
  }
}
