.contact {
  max-width: 1024px;
  > h2 {
    width: 80%;
  }
  .subtitle {
    font-weight: 300;
    font-size: 1.71em;
    letter-spacing: var(--letter-spacing);
    text-align: justify;
    margin: 50px auto 0;
    width: 80%;
  }
  .leftColumn {
    display: flex;
    .illustration {
      width: 80%;
      height: auto;
      margin: 50px auto;
      max-width: 500px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-flow: row wrap;
    > h2 {
      width: 80%;
    }

    .subtitle {
      text-align: center;
      width: 80%;
    }
    .leftColumn,
    .rightColumn {
      margin-top: 100px;
    }
    .leftColumn {
      flex: 1 1 50%;
      .illustration {
        align-self: flex-start;
        margin: 0 auto;
      }
    }
    .rightColumn {
      flex: 1 1 50%;
    }
  }
}
